<div ng-class="'col-md-' + $root.col_big" class="post-container">    
    <div id="{{video.id}}" style="padding: 0px 0px 0px 0px;
    border: none;
    margin-bottom: 20px;
    overflow: hidden;
    height: 100%;
    width: 100%;cursor:pointer" ng-click="playVideo(video)">
    	<img class="youtube-thumb" ng-src="{{video.photo}}" style="margin-top: -13%;
    margin-bottom: -13%;
    width: 100%;">
    	<div class="play-button"  style="height: 72px;
width: 72px;
left: 50%;
top: 50%;
margin-left: -36px;
margin-top: -36px;
position: absolute;

background: url('http://i.imgur.com/TxzC70f.png') no-repeat;">

		</div>
    </div>          
</div> 