<div class="col-md-12">
    <fieldset>               
        <div class="control-group">
            <label class="control-label" for="suffix">Содержание</label>
            <div text-angular  ng-model="info.content" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
        </div>                                  
    </fieldset>
</div>
<button class="btn" data-ng-click="save(info)" style="    margin: 5px 0px 0px 15px;">
    <i class="icon-remove-sign"></i>Сохранить
</button>