    <div class="col-md-12" id="read" style="height:100%; width:100%;margin-top:25px;min-height:101%;" ng-class="{'article-big': !radioOpenBig}" ng-cloak>
                    <div class="col-md-12 card ad_card half_card animated fadeInTop article" ng-cloak>                     
                                      
                    <div class="col-md-12">
                        <div class="author-bio__info">                 
                        <div class="col-md-12" style="padding:0">
                        <div style="padding-bottom: 12px;border-bottom: 1px solid #e5e5e5;" align="center">
                            <h1 ng-bind="post.title" class="animated fadeIn"></h1>                             
                            <div ng-show="song_cond" ng-click="play(post)" style="cursor:pointer;font-size: 20px; opacity:0.7" > 
                                <i class="ion-android-arrow-dropright-circle" style="font-size:25px"></i>
                                    Прослушать прикрепленные композиции...
                            </div>
                        </div>                           
                        <div text-angular ta-bind ng-model="post.content" name="demo-editor" ></div>
                             <div>      
                                    <p style="margin-bottom: 5px;">     
                                        <span class="date">
                                            <abbr title="{{post.created_at}}" ng-bind="post.created_at"></abbr>
                                        </span>
                                        <i class="glyphicon glyphicon-pencil" class="avatar" style="font-size: 15px; opacity: 0.7; margin:0px 3px 0px 3px">       
                                        </i>
                                        <strong style="color:black; opacity:0.6" ng-bind="post.author"></strong>
                                        <div class="grid_tags tags">                             
                                            <a ui-sref="articles({'tag': tag.urlname})" class="tag" title="Yeah Yeah Yeahs  " ng-repeat="tag in post.tags  | limitTo:3" ng-bind="'#' + tag.name">                
                                            </a>
                                        </div>
                                    </p>                              
                                </div>
                        </div>
                            
                        </div>
                    </div>
                       

                        
            
               

  

                  

           
        </div>
       
        
    </div>  


