    <div class="col-md-12" id="read" style="width:100%; margin-top:25px" ng-class="{'article-big': !radioOpenBig}" ng-cloak>

                    <div class="col-md-12 card ad_card half_card animated fadeIn" ng-cloak style="padding:40px 70px 40px 70px;height:100%; width:100%" id="read">                     
                                      
                    <div class="col-md-12">
                        <div class="author-bio__info">
                                                      
                        
                        <div class="col-md-12" style="padding:0">                                      
                            
                            <div text-angular ta-bind ng-model="info.content" name="demo-editor" ></div>
                             
                        </div>
                            
                        </div>
                    </div>
                       

                        
            
               

  

                  

           
        </div>
       
        
    </div>  


