    <div class="col-md-12 animated fadeIn" id="read" style="width:100%; margin-top:25px;min-height:101%;" ng-class="{'article-big': !radioOpenBig}" ng-cloak>

                    <div class="col-md-12 animated fadeIn" ng-cloak style="padding:0 20px; height:100%; width:100%" id="read">                     
                                      
                    <div class="col-md-12">
                        
                                                      
                        
                        <div class="col-md-12" style="padding:0" align="center" style="padding: 0;">                                      
                            
                            <h2>
                                HUBOFCULTURE <br> пермский медиа-портал о городских открытиях
                            </h2>
                        </div>
                        <div class="col-md-12" style="padding: 0;">
                            <p>
                                Нас всех мучали сочинениями, учили ставить в правильном месте запятые и точки в конце предложений. Детки выросли, а любовь к выражению мыслей всё-таки осталась. Hubofculture – это школьная привычка, закрепившаяся по жизни. Это не просто блог, а пермский культурно-молодежный портал. Кто мы и что мы? Сейчас узнаешь.  
                            </p>
                            <p>
                                Мы пишем о людях, которые преображают этот город; делимся впечатлениями с событий, а также публикуем подборки самого актуального. Пока паблики в контакте советуют котиков, мы создаём настоящий «рок». Кстати, что касается него, то авторы хаба – это не очередные журналисты, пишущие по канонам учебников. Это новый взгляд на старое, приправленное авторскими иллюстрациями и фото-отчетами, словечками не по Далю и уж точно не многозначащими цитатами из книжек. 
В рубрике «Поток» ты можешь прочесть всё, что касается Перми и не только. Целая куча авторов пишет для тебя прочий стаф, который хоть как-то поможет тебе по жизни. Пользуйся, друг. 
Рубрика «Люди» - это те, с кем непременно нужно познакомиться. Они не сидят на месте, а созидают, пытаясь сделать наш город лучше. Где кнопка «добавить в друзья»?  
                            </p>
                            <p>
                                Ну, а «Теги» - это наша универсальность. Теперь, чтобы прочесть нужную инфу, не нужно будет искать в огромной ленте пост от 2011 года, прокручивая скрол. Нажми нужный «тег» и читай. 
Мы не профессионалы, а только учимся, ведь совершенству нет предела, и если ты хочешь быть с нами вместе, просто напиши сюда – hubofculture@gmail.com. Мы всегда рады сотрудничеству и будем рады видеть тебя в нашей команде. Кстати о нас:
                            </p>
                        </div>
                        <div class="col-md-12 info-header first" align="center" style="padding: 0;">
                            <h3>
                                    СОЗДАТЕЛИ:
                            </h3>
                        </div>
                        <div class="col-md-12" style="padding: 0;">
                            <div class="col-md-3 col-xs-6 info-person" align="center">
                                <img src="/dk-fm/info-images/roman.jpg" style="border-radius:50%;">
                                <h3>Роман <br> Глухов</h3>
                                <h4>всея хаба</h4>
                            </div>
                            <div class="col-md-3 col-xs-6 info-person" align="center" >
                                <img src="/dk-fm/info-images/p.peka.jpg" style="border-radius:50%;">
                                <h3>Кирилл <br> Архипов</h3>
                                <h4>саппортит всею</h4>
                            </div>
                            <div class="col-md-3 col-xs-6 info-person" align="center" >
                                <img src="/dk-fm/info-images/i.katya.jpg" style="border-radius:50%;">
                                <h3>Катя <br> Игнатьева</h3>
                                <h4>руководит процессом</h4>
                            </div>
                            <div class="col-md-3 col-xs-6 info-person" align="center" >
                                <img src="/dk-fm/info-images/g.danil.jpg" style="border-radius:50%;">
                                <h3>Данил <br> Гурьянов</h3>
                                <h4>благословляет на удачу</h4>
                            </div>                          
                        </div>
                        <div class="col-md-12 info-header" align="center">
                            <h3>
                                    АВТОРЫ:
                            </h3>
                        </div>
                        <div class="col-md-12" style="padding:0">                           
                            <div class="row">
                                <div class="col-md-6 info-person">
                                       <div class="col-md-5 col-xs-5">
                                        <img src="/dk-fm/info-images/b.anna.jpg" style="border-radius:50%;"> 
                                    </div>
                                    <div class="col-md-7 col-xs-7 " align="center" style="padding: 0;">
                                        <h3>Анна <br> Батог</h3>
                                        <h4>пишет из Берлина о мироощущении с девизом по жизни "однажды всё может быть по-другому"</h4>
                                        <a href="/feed/6feelings">#6FEELINGS</a>
                                    </div> 
                                </div>
                                <div class="col-md-6 info-person">
                                       <div class="col-md-5 col-xs-5">
                                        <img src="/dk-fm/info-images/p.victorya.jpg" style="border-radius:50%;"> 
                                    </div>
                                    <div class="col-md-7 col-xs-7" align="center" style="padding: 0;">
                                        <h3>Виктория <br> Петухова</h3>
                                        <h4>"спорят только дураки" и я самый большой дурак. пишет художественные заметки о насущных темах</h4>
                                        <a href="/feed/koko" >#KOKO</a>
                                    </div> 
                                </div>                                                                           
                            </div>
                              <div class="row">
                                <div class="col-md-6 info-person">
                                       <div class="col-md-5 col-xs-5">
                                        <img src="/dk-fm/info-images/k.diana.jpg" style="border-radius:50%;"> 
                                    </div>
                                    <div class="col-md-7 col-xs-7" align="center" style="padding: 0;">
                                        <h3>Диана <br> Корсакова</h3>
                                        <h4>наблюдатель, спрашиваетель, всезамечатель, записыватель. кот вниз головой - во мне мыши все повисли вверх хвостами</h4>
                                        <a href="/feed/kot-naslushal" >#КОТ НАСЛУШАЛ</a>
                                    </div> 
                                </div>
                                <div class="col-md-6 info-person">
                                       <div class="col-md-5 col-xs-5">
                                        <img src="/dk-fm/info-images/e.anastasiya.jpg" style="border-radius:50%;"> 
                                    </div>
                                    <div class="col-md-7 col-xs-7" align="center" style="padding: 0;">
                                        <h3>Анастасия <br> Евнушанова</h3>
                                        <h4>миссия проста: разобраться в сумашедшей прелести земли и всё назвать по имени. наработки "коллекции читать тут</h4>
                                        <a href="/feed/skazhi-gromko" >#СКАЖИ ГРОМКО</a>
                                    </div> 
                                </div>                                                                           
                            </div>
                              <div class="row">
                                <div class="col-md-6 info-person">
                                       <div class="col-md-5 col-xs-5">
                                        <img src="/dk-fm/info-images/k.evgenue.jpg" style="border-radius:50%;"> 
                                    </div>
                                    <div class="col-md-7 col-xs-7" align="center" style="padding: 0;">
                                        <h3>Евгений <br> Касаткин</h3>
                                        <h4>делает вид, что работает, а на самом деле просто катается на велике и иногда садится за компьютер, чтобы написать пару строк</h4>
                                        <a href="/feed/zhenya,-nu,-davaj" >#ЖЕНЯ, НУ, ДАВАЙ</a>
                                    </div> 
                                </div>                                                                                                          
                            </div>                                                                              
                        </div> 
                        <div class="col-md-12 info-header" align="center">
                            <h3>
                                    ИЛЛЮСТРАТОРЫ:
                            </h3>
                        </div>
                        <div class="col-md-12" style="padding:0">                           
                            <div class="row">
                                <div class="col-md-6 info-person">
                                       <div class="col-md-5 col-xs-5">
                                        <img src="/dk-fm/info-images/m.kristina.jpg" style="border-radius:50%;"> 
                                    </div>
                                    <div class="col-md-7 col-xs-7" align="center" style="padding: 0;">
                                        <h3>Кристина <br> Малахова</h3>
                                        <h4>рисует просто или просто рисует ...нежные картинки</h4>
                                        <a href="/feed/cho" >#CHO</a>
                                    </div> 
                                </div>
                                <div class="col-md-6 info-person">
                                       <div class="col-md-5 col-xs-5">
                                        <img src="/dk-fm/info-images/s.katyajpg.jpg" style="border-radius:50%;"> 
                                    </div>
                                    <div class="col-md-7 col-xs-7" align="center" style="padding: 0;">
                                        <h3>Катя <br> Сюма</h3>
                                        <h4>неравнодушна ко всему живому. крадет, как художник</h4>
                                        <a href="/feed/katyarisuet" >#КАТЯРИСУЕТ</a>
                                    </div> 
                                </div>                                                                           
                            </div>
                                                                                                                                      
                        </div>                
                            <div class="col-md-12 info-header" align="center">
                            <h3>
                                    МУВИМЭЙКЕРЗ:
                            </h3>
                        </div>
                        <div class="col-md-12" style="padding:0">                           
                            <div class="row">
                                <div class="col-md-6 info-person">
                                       <div class="col-md-5 col-xs-5">
                                        <img src="/dk-fm/info-images/p.misha.jpg" style="border-radius:50%;"> 
                                    </div>
                                    <div class="col-md-7 col-xs-7" align="center" style="padding: 0;">
                                        <h3>Миша <br> Постников</h3>
                                        <h4>"всё начинается с идеи"</h4>
                                        <a href="/feed/mp" >#МП</a>
                                    </div> 
                                </div>
                                <div class="col-md-6 info-person">
                                       <div class="col-md-5 col-xs-5">
                                        <img src="/dk-fm/info-images/f.alexander.jpg" style="border-radius:50%;"> 
                                    </div>
                                    <div class="col-md-7 col-xs-7" align="center" style="padding: 0;">
                                        <h3>Александр <br> Федотов</h3>
                                        <h4>"сначала пусть всё уляжется"</h4>
                                        <a href="/feed/sanyadelaet" >#САНЯДЕЛАЕТ</a>
                                    </div> 
                                </div>                                                                           
                            </div>
                                                                                                                                      
                        </div>
                            <div class="col-md-12 info-header" align="center">
                            <h3>
                                    DJ's & РАДИО ВЕДУЩИЕ:
                            </h3>
                        </div>
                        <div class="col-md-12" style="padding:0">                           
                            <div class="row">
                                <div class="col-md-6 info-person">
                                       <div class="col-md-5 col-xs-5">
                                        <img src="/dk-fm/info-images/s.pasha.jpg" style="border-radius:50%;"> 
                                    </div>
                                    <div class="col-md-7 col-xs-7" align="center" style="padding: 0;">
                                        <h3>Паша <br> Седегов</h3>
                                        <h4>рыжий бестыжий</h4>                                       
                                    </div> 
                                </div>
                                <div class="col-md-6 info-person">
                                       <div class="col-md-5 col-xs-5">
                                        <img src="/dk-fm/info-images/k.slava.jpg" style="border-radius:50%;"> 
                                    </div>
                                    <div class="col-md-7 col-xs-7" align="center" style="padding: 0;">
                                        <h3>Слава <br> Косолапов</h3>
                                        <h4>коньячные ночи закончатся, начну работу</h4>
                                       
                                    </div> 
                                </div>                                                                           
                            </div>
                             <div class="row">                               
                                <div class="col-md-6 info-person">
                                       <div class="col-md-5 col-xs-5">
                                        <img src="/dk-fm/info-images/i.vanya.jpg" style="border-radius:50%;"> 
                                    </div>
                                    <div class="col-md-7 col-xs-7" align="center" style="padding: 0;">
                                        <h3>Ваня <br> Илларионов</h3>
                                        <h4>очень серьёзный чел</h4>                                      
                                    </div> 
                                </div>                                                                           
                            </div>
                                                                                                                                      
                        </div>
                    </div>
                       

                        
            
               

  

                  

           
        </div>
       
        
    </div>  


