    <div class="col-md-12" id="read" style=" width:100%;margin-top:25px;" ng-class="{'article-big': !radioOpenBig}" ng-cloak>

                    <div class="col-md-12 card ad_card half_card animated fadeInTop article" ng-cloak>                     
                                      
                    <div class="col-md-12">
                        <div class="author-bio__info">
                                                      
                        
                        <div class="col-md-12" style="padding:0">
                        <div style="padding-bottom: 12px;border-bottom: 1px solid #e5e5e5;" align="center">
                            <h1 ng-bind="people.title" class="animated fadeIn"></h1>                            
                            
                        </div>                                           
                                                  
                            
                            <div text-angular ta-bind ng-model="people.content" name="demo-editor" ></div>
                             <div>      
                              <p style="margin-bottom: 5px;">     
                                <span class="date">
                                  <abbr title="{{people.last_mod}}" ng-bind="people.last_mod"></abbr>
                                </span>
                              
                              </p>                              
                            </div>
                        </div>
                            
                        </div>
                    </div> 

           
        </div>
       
        
    </div>  


