<div class="podcasts-folders col-md-12 col-sm-12 col-xs-12" style="margin-bottom:5%">
                    	<div class="col-md-6 btn btn-primary" >
                    		Радио
                    		<a class="ion-ios-list" style="font-size: 30px; float:right"></a>
                    	</div>
                    	<div class="col-md-6 btn btn-primary">Закладки</div>                    	  
                    </div>
                    <div class="podcasts-folders col-md-12 col-sm-12 col-xs-12">
                    	<div class="col-md-6 btn btn-primary" >Прямая бочка</div>
                    	<div class="col-md-6 btn btn-primary"> Ломаная бочка</div> 
                    	<div class="col-md-6 btn btn-primary">Rock'n'Roll</div> 
                    	<div class="col-md-6 btn btn-primary">Эфиры</div>  
                    </div>